* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
* button {
  border: none;
}

.end-screen, .title, .container, .butt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-direction: column;
  height: 100vh;
  background-color: #272932;
  color: #fff;
}
.title {
  flex-direction: column;
  height: 40vh;
  width: 90vw;
  transition: 0.2s ease;
}

.question-input {
  height: 60%;
  width: 90%;
  outline: none;
  font-size: 53px;
  font-weight: 500;
  color: #369bff;
  margin: 0 0 15px 0;
  text-align: center;
  background-color: inherit;
  border: 1px solid transparent;
  transition: all 0.1s ease;
  padding: 5px 15px;
  border-radius: 15px;
  resize: none;
  cursor: default;
}
.question-input:focus {
  border: 1px solid white;
}

.buttons-shell {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 100%;
}

.butt-shell {
  width: 85px;
  height: 55px;
  margin: 10px;
}
.butt {
  width: 85px;
  height: 55px;
  border-radius: 10px;
  font-size: 25px;
  color: #6f7887;
  background-color: #EDF2F4;
  border: 1px solid #6f7887;
}

.yes-butt {
  transition: 0.2s ease-out;
  right: 0;
  cursor: pointer;
}
.yes-butt--hinted {
  box-shadow: 0 0 30px 0 rgba(65, 205, 131, 0.45);
  border-color: #8dd6af;
}
.yes-butt--only-option {
  box-shadow: 0 0 40px 0 rgba(65, 205, 131, 0.55);
  border-color: #69e8ad;
  transform: scale(1.3);
}
.yes-butt:hover {
  box-shadow: 0 0 60px 0 rgba(65, 205, 131, 0.7);
  color: #EDF2F4;
  background-color: #41cd83;
  border-color: #41cd83;
}

.no-butt {
  position: absolute;
  transition: 0.18s ease;
  user-select: none;
  cursor: default;
}
.butt--small {
  transform: scale(0.5);
}
.butt--super-small {
  transform: scale(0.2);
}


.extra-text {
  font-size: 20px;
  color: transparent;
  transition: 0.4s ease;
}


.container .end-screen {
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #30313E;
  color: #EDF2F4;
  font-size: 60px;
  display: none;
}

.img-shell {
  width: 60%;
}
.img-shell img {
  border-radius: 10px;
  width: 100%;
}

